{% extends 'soap/baze.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block bask  %}
{% if bask > 0 %}
    <div class="bask_num">{{ bask }}</div>
{% endif %}
{% endblock %}

{% block content %}

<div class="about2 conteiner">
    <h2>О нас</h2>
    <div class="about_us">
        <img src="../static/soap/angle.jpg" alt="we">
        <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum
            используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное
            распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст..
            Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem
            Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как
            много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил
            много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).</p>
        <p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например,
            юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum
            для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все
            другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют,
            пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem
            Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений.
            В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или
            "невозможных" слов.</p>
        <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum
            используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное
            распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст..
            Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem
            Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как
            много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил
            много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).</p>
        <p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например,
            юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum
            для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все
            другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют,
            пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem
            Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений.
            В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или
            "невозможных" слов.</p>
    </div>
</div>


<div class="conteiner contact">
    <h2>Контакты</h2>
    <div class="contacts">
        <div>
            <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/213/moscow/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Москва</a><a href="https://yandex.ru/maps/213/moscow/?ll=37.577350%2C55.753536&utm_medium=mapframe&utm_source=maps&z=12.8" style="color:#eee;font-size:12px;position:absolute;top:14px;">Москва — Яндекс Карты</a><iframe src="https://yandex.ru/map-widget/v1/?ll=37.577350%2C55.753536&utm_source=main_stripe_big&z=12.8" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
        </div>
        <div class="cont_info">
            <div>
                <p>Телефон:</p>
                <p>+7 000 000 00 00</p>
            </div>
            <div>
                <p>E-mail:</p>
                <p>12345@67.89</p>
            </div>
            <div>
                <p>Адрес:</p>
                <p>Россия, г.Москва</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}