{% extends 'soap/baze.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block bask  %}
{% if bask > 0 %}
    <div class="bask_num">{{ bask }}</div>
{% endif %}
{% endblock %}

{% block content %}

<div class="conteiner table-dostavka">
    <h2>Доставка</h2>
  <p>При заказе от 3000 руб. доставка по Москве БЕСПЛАТНО</p>
  <p>После оформления заказа в интернет-магазине, вы получите СМС/e-mail уведомление с номером вашего заказа.
      И в ближайшее время с вами свяжется менеджер для уточнения деталей</p>
  <table>
    <thead>
    <tr>
      <th>Вид доставки</th>
      <th>Сроки доставки</th>
      <th>Стоимость доставки</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Самовывоз</td>
      <td>от 1 дня</td>
      <td>Бесплатно</td>
    </tr>
     <tr>
      <td>Курьером по Москве</td>
      <td>1-2 дня</td>
      <td>300 руб.</td>
    </tr>
     <tr>
      <td>Курьером в М.О.</td>
      <td>2-3 дня</td>
      <td>500 руб.</td>
    </tr>
     <tr>
      <td>Доставка в другие регионы СДЭК</td>
      <td>В зависимости от региона</td>
      <td>В зависимости от региона</td>
    </tr>
    </tbody>
  </table>

</div>

<div class="conteiner payment">
    <h2>Оплата</h2>
    <h5>Мы работаем как с физическими, так и с юридическими лицами.</h5>

    <h3>Варианты оплаты</h3>
    <h5>При доставке курьером или самовывозом</h5>
    <ul>
    <li><h6>По безналичному расчёту</h6>
    <p>Оплата заказа осуществляется по безналичному расчету от юридических лиц. После оформления заказа с вами свяжется
        менеджер и подготовит все необходимые документы.</p></li>
    <li><h6>По наличному расчёту</h6>
    <p>Оплата заказа осуществляется наличными средствами при получении.</p></li>
    <li><h6>Банковской картой</h6>
    <p>Вы можете оплатить заказ банковской картой  при получении.</p></li>
    </ul>

    <h5>При отправке в другой город</h5>
    <ul>
    <li><h6>По безналичному расчёту</h6>
    <p>Оплата заказа осуществляется по безналичному расчету от юридических лиц. После оформления заказа с вами свяжется
        менеджер и подготовит все необходимые документы. Оплата производиться после оформления заказа и до его отправки.</p></li>
    <li><h6>Банковской картой</h6>
    <p>Вы можете оплатить заказ банковской картой. Оплата производиться после оформления заказа и до его отправки.</p></li>
    </ul>
</div>

<div class="conteiner question">
    <h2>Вопросы и ответы</h2>
    <div>
        <h5>Что делать, когда курьер доставил ваш заказ ?</h5>
        <ul>
            <li>При получении заказа вам необходимо проверить сохранность курьерского пакета и правильность комплектации заказа, рассчитаться за заказ с курьером и расписаться в накладной. </li>
            <li>Вскрывать упаковку продуктов при проверке запрещено. При нарушении целостности упаковки товара вы не сможете вернуть заказ курьеру. </li>
            <li> При получении заказа у курьера услуга частичного выкупа заказа недоступна </li>
        </ul>
    </div>
    <div>
        <h5>Если вы получили не свой заказ</h5>
        <ul>
            <li> Вам необходимо сохранить целостность упаковки товаров до приезда курьера на возврат и обмен. </li>
            <li>При обнаружении заводского дефекта товара, этот товар  подлежит обмену. Для этого вам нужно написать нам письмо (на адрес 123@45.56). </li>
        </ul>
    </div>
    <div>
        <h5>Обмен и возврат товара, денежных средств</h5>
        <ul>
            <li>Покупатель вправе отказаться от товара надлежащего качества в любое время до его передачи, а после передачи товара – в течение 7 дней. </li>
            <li>Максимальный срок, в течение которого товар может быть возвращен продавцу: 7 дней с момента передачи товара. </li>
            <li>Возврат товара надлежащего качества возможен в случае, если сохранены его товарный вид, потребительские свойства, а также документ, подтверждающий факт и  условия покупки указанного товара. </li>
            <li>Для согласования возврата товара вам необходимо позвонить продавцу по телефону Горячей линии: 5 555 555 55 55</li>
            <li>Срок и порядок возврата суммы, уплаченной покупателем за товар: возврат суммы производится после обращения покупателя письменно с заявлением по  электронному адресу: 1234@45.65</li>
            <li>в срок не позднее чем через 10 дней с даты предъявления покупателем соответствующего требования, путем перечисления соответствующей суммы на банковский или иной счет покупателя, указанный покупателем. По согласованию с покупателем возможен иной способ возврата денежных средств (наличными денежными средствами по месту нахождения продавца, почтовым переводом). </li>
        </ul>
    </div>
</div>

{% endblock %}