{% extends 'soap/baze.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block bask  %}
{% if bask > 0 %}
    <div id="bask_num" class="bask_num">{{ bask }}</div>
{% endif %}
{% endblock %}

{% block name  %}

    <div class="name">
       <a href="/" class="menu_name">Ароматный Меланж</a>
    </div>
    <div class="kat">
        <h1>Мыло ручной работы</h1>
         <div class="kat1"><a href="/all/">Познакомьтесь с нашей коллекцией</a></div>
    </div>

{% endblock %}

{% block content %}

<div class="about conteiner">
    <h2>О нас</h2>
    <div class="about_us">
        <img src="static/soap/angle.jpg" alt="we">
        <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum
            используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное
            распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст..
            Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem
            Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как
            много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил
            много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).</p>
        <p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например,
            юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum
            для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все
            другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют,
            пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem
            Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений.
            В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или
            "невозможных" слов.</p>
    </div>
</div>

<div class="conteiner type_prod">
    <h2>Наша продукция</h2>
<div class="types">
{% for i in type %}
    <a href="type/{{ i.slug }}/" class="type">
        <p>{{ i.name }}</p>
        <img src="../static/soap/type/{{ i.img }}" alt="{{ i.img }}">
    </a>
{% endfor %}
</div>
</div>

<div class="why conteiner">
    <h2>Почему выбирают Ароматный меланж</h2>
    <h4>Наш интернет-магазин предлагает уходовые средства ручной работы высочайшего качества. Узнайте о наших ключевых преимуществах.</h4>
    <div class="why_us">
        <div class="why_us1">
            <p>Ручная работа</p>
        </div>
         <div class="why_us2">
            <p>Широкий ассортимент</p>
        </div>
         <div class="why_us3">
            <p>Качество продукции</p>
        </div>
         <div class="why_us4">
            <p>Уникальные компоненты</p>
        </div>
    </div>
</div>

<div class="conteiner otzivi">
    <h2>Отзывы наших довольных клиентов</h2>
    <div class="otzivs">
        <div class="otziv">
            <img src="static/soap/p1.jpg">
            <p>Очень довольна ассортиментом. Все средства для ванной комнаты просто великолепны.
                Спасибо за отличное качество!</p>
            <span>Марина</span>
        </div>
        <div class="otziv">
            <img src="static/soap/p2.jpg">
            <p>Обожаю мыло ручной работы! Прекрасный аромат и бережный уход за кожей. Рекомендую всем!</p>
            <span>Светлана</span>
        </div>
        <div class="otziv">
            <img src="static/soap/p3.jpg">
            <p>Прекрасное качество продукции! Особенно понравилось жидкое мыло и гель для душа. Заказала уже несколько раз – всегда довольна.</p>
            <span>Марина</span>
        </div>
    </div>
</div>

<div class="zayvka conteiner">
    <h2>Хотите узнать больше?</h2>
    <h4>Подпишитесь на нашу рассылку<br> и вы всегда будете будете в курсе наших новостей</h4>
    <div class="c_form">
        <form class="callForm callForm2 form" id="callForm" method="post" enctype="multipart/form-data">
             {% csrf_token %}
             {{ form.as_p }}
            <button class="btn-send">Оставить заявку</button>

        </form>
        <p>Оставляя заявку, вы соглашаетесь на <a href="#">обработку персональных данных</a> </p>
    </div>
</div>


{% endblock %}